/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #141313;
    color: #229a20;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1daf27;
    color: #1c1a1a;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #38f179 1px solid;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #131212;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #39ca71;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #238f11;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #72d473;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
